.footer {
  background-color: #0b1d24;
  padding-bottom: 40px;
  padding-top: 40px;
  
  color: #ffffff;
}

.footer-left-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Left alignment */
  gap: 12px;
}

.footer-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  padding-bottom: 10px;
  padding-left: 40px;
  gap: 8px;
}

.footer-icon {
  width: 24px;
  height: 24px;
}

.footer-contact p {
  padding-left: 40px;
  margin: 2px 0;
  font-size: 1rem;
  display: flex;
  align-items: flex-start;
}
